<input type="hidden" name="q" value="{{ filters.q }}">
<input type="hidden" name="country" value="{{ filters.country }}">
<input type="hidden" name="provider" value="{{ filters.provider }}">
<input type="hidden" name="source" value="{{ filters.source }}">
<input type="hidden" name="status" value="{{ filters.status }}">
<input type="hidden" name="offerwall" value="{{ filters.offerwall }}">
<input type="hidden" name="supplier" value="{{ filters.supplier }}">
<input type="hidden" name="page" value="{{ page.number }}">
